@import '../../node_modules/normalize.css/normalize.css';
@import 'mixins';
@import 'fonts';
@import 'variables';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class$='title'] {
  font-family: $title-font;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px;
}

::selection {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.main-page {
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $gap;
  position: relative;
}

// ХЭДЕР

.header-flex {
  display: flex;
  gap: $gap;
  align-items: center;

  @media (max-width: 950px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.header {
  position: relative;

  padding: $gap 0;

  background-color: $main-color;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.6);

  margin-bottom: $gap;

  &__phone-number {
    display: inline-block;
    padding: $gap;

    font-size: 22px;
    font-weight: bold;
    color: $second-color;

    &:hover,
    &:focus {
      @include substrate;
      filter: invert(100%);
      outline: none;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__navigation {
    margin-left: auto;

    @media (max-width: 950px) {
      margin: 0 auto;
    }

    @media (max-width: 540px) {
      display: none;
    }
  }

  @media (max-width: 540px) {
    padding-bottom: 50px;
  }
}

.logo {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 4px solid $second-color;

  &__text {
    display: inline-block;
    width: 100%;
    padding: 10px 0;

    font-size: 35px;
    font-weight: bold;
    color: $second-color;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
  }
}

// МЕНЮ В ХЭДЕРЕ

.navigation {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 540px) {
    flex-direction: column;
  }

  @media (min-width: 540px) {
    display: flex;
  }

  &__item {
  }

  &__link {
    display: inline-block;

    padding: 15px 10px;

    font-family: $title-font;
    font-size: 20px;
    color: $second-color;

    &:hover,
    &:focus {
      @include substrate;
      filter: invert(100%);
      outline: none;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.navigation-toggle {
  @media (min-width: 540px) {
    display: none;
  }

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  width: 40px;
  height: 5px;
  border-radius: 10px;

  background-image: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);

  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;

    width: 40px;
    height: 5px;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  }

  &::before {
    top: 10px;
  }

  &::after {
    top: -10px;
  }
}

.nav-toggle-close {
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -20px;

    width: 40px;
    height: 5px;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);

    @media (min-width: 520px) {
      display: none;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// SLICK SLIDER

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

// ВЕРХНИЙ СЛАЙДЕР

.main-slider {
  margin-bottom: $gap2;

  &__item {
    outline: none;
  }

  img {
    height: 500px;

    @media (max-width: 960px) {
      height: 400px;
    }

    @media (max-width: 560px) {
      height: 300px;
    }
  }
}

// слайдер с отзывами

.title-wrapper {
  text-align: center;
}

.feedback {
  position: relative;
  padding: 20px 0;
  margin-bottom: $gap;

  .container {
    padding: 0;
  }

  &__title {
    display: inline-block;
    margin: 0 auto;
    font-size: 26px;
    color: #fff;

    @include substrate;

    margin-bottom: $gap2;
  }

  .slick-track {
    align-items: center;
  }

  .slick-arrow {
    font-size: 0;

    position: absolute;
    top: 50%;
    margin-bottom: -20px;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;

    background-color: rgb(123, 131, 141);
    background-image: url(../img/slider_arrow.webp);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 60%;
    opacity: 0.35;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }

  .slick-prev {
    left: 10px;
    transform: rotate(-90deg);
  }

  .slick-next {
    right: 10px;
    transform: rotate(90deg);
  }
}

.reviews {
  &__item {
    outline: none;
    text-align: center;
  }

  &__image {
    width: 300px;
  }
}

// БЛОК ПРЕИМУЩЕСТВ

.advantages {
  position: relative;
  padding-bottom: $gap;
  margin-bottom: $gap2;

  &__list {
    display: flex;
    gap: $gap;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
  }

  &::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;

    height: 2px;
    border-radius: 10px;

    background-image: linear-gradient(
      to right,
      #ededed 0,
      #bab1ba 50%,
      #ededed 100%
    );
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  width: 290px;

  &__title {
    display: inline-block;

    font-family: $title-font;
    font-size: 24px;
    color: $second-color;
    @include substrate;

    margin: 0 auto;
    margin-bottom: $gap;
  }

  &__text {
    margin-bottom: $gap;
  }
}

// БЛОК ТОВАРОВ

.goods {
  max-width: 1000px;
  margin: 0 auto;

  &__title {
    display: inline-block;
    text-align: center;
    @include substrate;
    color: $second-color;
    margin-bottom: $gap;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;
  margin-bottom: $gap;

  &__item {
    min-height: 380px;
    width: 280px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.product {
  position: relative;
  overflow: hidden;

  &__overlay {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  &:hover > &__overlay {
    opacity: 0.2;
  }

  &:hover > &__button {
    opacity: 1;
  }

  &:hover > &__name {
    opacity: 1;
  }

  &__image {
    background-size: contain;
    background-position: center;
    height: 100%;
  }

  &__name {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;

    opacity: 0.8;

    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__button {
    opacity: 0;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;

    display: inline-block;

    padding: 15px;

    font-size: 20px;
    color: $second-color;
    background-color: transparent;
    outline: none;
    border: none;
    filter: invert(100%);

    @include substrate;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 5px $second-color) invert(100%);
    }
  }
}

// БЛОК ОБ ОПЛАТЕ И ДОСТАВКЕ

.information {
  position: relative;

  display: flex;
  gap: $gap;
  flex-direction: column;
  align-items: center;

  @media (min-width: 760px) {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }

  &::before {
    content: '';

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    bottom: 30px;

    width: 2px;
    border-radius: 10px;

    background-image: linear-gradient(
      to bottom,
      #ededed 0,
      #bab1ba 50%,
      #ededed 100%
    );

    @media (max-width: 760px) {
      width: 0;
    }
  }
}

.payment,
.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
  max-width: 350px;

  @media (max-width: 760px) {
    width: 80vw;
  }

  &__title {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 26px;
    color: $second-color;

    @include substrate;

    margin-bottom: $gap;
  }

  &__list {
    margin-bottom: $gap;
  }

  &__item {
    position: relative;

    padding-left: 20px;
    margin-bottom: 15px;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 12px;
      height: 12px;

      @include substrate(100%);
    }
  }
}

// ФУТЕР

.footer-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: $gap 0;
  background-color: $main-color;
  box-shadow: 0 -1px 3px 2px rgba(0, 0, 0, 0.6);

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin: auto 0;

    @media (min-width: 540px) {
      order: 1;
    }
  }

  .logo {
    &:hover,
    &:active {
      box-shadow: 0 0 5px 2px white;
      transition: 0.2s;
    }
  }
}

.contacts {
  &__phone-number {
    padding: $gap;

    font-size: 20px;
    font-weight: bold;
    color: $second-color;

    @media (max-width: 360px) {
      font-size: 16px;
    }

    @media (max-width: 330px) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      @include substrate;
      filter: invert(100%);
      outline: none;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__socials {
  }
}

.socials {
  display: flex;
  gap: 20px;

  &__item {
  }

  &__link {
    display: block;
    width: 25px;
    height: 25px;

    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

// Попап - карточка товара

.good {
  display: flex;
  gap: 70px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;

  max-width: 800px;
  padding: 60px;
  max-height: 70vh;
  overflow: auto;

  background-color: $popup-color;

  @include popupBorder;

  @media (max-width: 980px) {
    flex-direction: column;
    max-width: 60vw;
    padding: 30px;
    gap: 30px;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap;

    @media (min-width: 980px) {
      width: 50%;
    }

    @media (max-width: 980px) {
      padding: 0 10%;
    }

    @media (max-width: 500px) {
      padding: 0 5%;
    }
  }

  li {
    border: none;
    outline: none;
  }

  &__gallery {
    position: relative;

    width: 50%;
    margin: 0 auto;

    @media (max-width: 980px) {
      width: 80%;
    }

    .slick-track {
      align-items: center;
    }

    .slick-arrow {
      font-size: 0;

      position: absolute;
      top: 40%;

      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;

      background-color: transparent;
      background-image: url(../img/slider_arrow.webp);
      background-repeat: no-repeat;
      background-position: center 40%;
      background-size: 60%;
      opacity: 0.8;

      &:hover {
        opacity: 0.5;
        transition: 0.3s;
      }
    }

    .slick-prev {
      left: -50px;
      transform: rotate(-90deg);
      z-index: 10000;
    }

    .slick-next {
      right: -50px;
      transform: rotate(90deg);
      z-index: 10000;
    }
  }

  &__name {
    text-align: center;
  }

  &__text {
    color: $text-color;
    margin-bottom: $gap;
  }

  &__specs {
    text-align: center;
  }

  &__specs-list {
    margin-bottom: $gap;
  }

  &__specs-item {
    position: relative;

    padding-left: 20px;
    margin-bottom: 5px;

    color: $text-color;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 12px;
      height: 12px;

      @include substrate(100%);
    }
  }

  &__price {
    position: relative;
    bottom: -90px;

    @media (max-width: 980px) {
      bottom: -60px;
    }

    &-value {
      font-size: 24px;
      color: blue;
    }
  }

  &__btn {
    align-self: flex-end;
  }

  .close-btn {
    top: 10px;
    right: 5px;
  }
}

// Форма заказа

.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;

  max-height: 90vh;
  overflow: auto;
  @media (max-width: 450px) {
    max-width: 90vw;
  }
}

form * {
  outline: none;
}

.form {
  padding: 30px;
  @include popupBorder;
  max-width: 350px;

  background-color: $popup-color;

  &__name {
    text-align: center;
    margin-bottom: $gap;
  }

  &__text {
    color: $text-color;

    margin-bottom: 60px;

    &-name,
    &-price {
      color: blue;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap2;
  }

  &__user-label {
    margin-bottom: -35px;
  }

  &__user-name,
  &__user-phone,
  &__user-text {
    padding: 5px;

    @include inputStyle;

    &:focus {
      box-shadow: 0 0 5px 1px rgba(0, 0, 255, 0.8);
    }
  }

  &__user-text {
    resize: none;
    overflow: hidden;

    height: 70px;
  }

  &__button {
    align-self: flex-end;
  }
}

.error {
  box-shadow: 0 0 5px 1px rgba(250, 1, 1, 0.8);
}

// Попап - спасибо

.thanks-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  min-width: 300px;
  max-width: 340px;
  padding: 30px;

  background-color: $popup-color;

  @include popupBorder;

  &__name {
    text-align: center;
    margin-bottom: $gap;
  }

  &__text {
    text-align: center;
    margin-bottom: $gap;
    line-height: 1.4em;
  }

  &__inst a {
    margin: 0 auto;
  }
}

// Попап звонка

.call-popup {
  position: fixed;
  left: -200%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;

  width: 300px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  padding: 30px;

  background-color: $popup-color;

  @include popupBorder;
  border-left: none;

  transition: translate, 2s;

  &__name {
    text-align: center;

    margin-bottom: $gap;
  }

  &__text {
    color: $text-color;

    margin-bottom: $gap;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__user-label {
    margin-bottom: -10px;
  }

  &__user-name,
  &__user-phone {
    flex-grow: 1;

    padding: 5px;

    @include inputStyle;

    &:focus {
      box-shadow: 0 0 5px 1px rgba(0, 0, 255, 0.8);
    }
  }

  &__button {
    align-self: flex-end;
  }
}

.call-popup-animation {
  left: -10px;
}

// КНОПКИ

.button {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: $second-color;
  background-color: transparent;
  outline: none;
  border: none;
  @include substrate;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;

  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -20px;

    width: 25px;
    height: 5px;
    border-radius: 10px;

    background-color: lightgrey;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:hover,
  &:active {
    filter: contrast(0.5);
  }
}

.overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
}

.display-none {
  display: none;

  @media (max-width: 660px) {
    display: none;
  }
}
